body {
    background-color: #293462;
}

h1 {
    color: #B5525C;
    border: medium solid #f9b10b;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

p {
    color: #F7BE16;
    text-align: left;
    font-size: 24px;
}



li {
    color: #F7BE16;
    font-size: 24px;
}
